<% include header %>

  <body>
    <h1><%= title %></h1>
    <p>Vous êtes dans : <%= directoryPath %></p>

    <% if (files || directories) { %>
      <ul>
        <li>
          <form action="/" method="post">
            <input type="hidden" name="directoryPath" value="<%= directoryPath %>">
            <input type="hidden" name="directory" value="..">
            <button type="submit"> retour</button>
          </form>
        </li>
        <% directories.forEach(function (directory) { %>
          <li>
            <form action="/" method="post">
              <input type="hidden" name="directoryPath" value="<%= directoryPath %>">
              <input type="hidden" name="directory" value="<%= directory %>">
                <button type="submit"><img src="/images/icon-folder.png"> <%= directory %> </button>
            </form>
          </li>
        <% }) %>
      </ul>
      <ul>
        <% files.forEach(function (file) { %>
          <li>
            <form action="/view" method="post">
              <input type="hidden" name="directoryPath" value="<%= directoryPath %>">
              <input type="hidden" name="directory" value="<%= file %>">
                <button type="submit"><img src="/images/icon-file.png"> <%= file %> </button>
            </form>
          </li>
        <% }) %>
      </ul>
    <% } else { %>
      <p>Répertoire vide ou inaccessible en lecture.<br><%= error %></p>

    <% } %>


  </body>
<% include footer %>

