<% include header %>
<div class="container-fluid">
</div>
<div class="container">
    <div class="row rounded p-3 mb-2 bg-info text-white" style="margin-top: 70px">
        <div class="col-11">
            <h3 class="">Bienvenue sur mon portfolio, vous pouvez accèder aux rubriques que vous
                souhaités ici ou sur la barre de navigation, bonne visite.</h3>
        </div>
        <div class="col-1">
            <button type="button" class="btn btn-outline-danger bg-light removed">X</button>
        </div>
    </div>
    <div class="row">
        <div class="col-6">

        </div>
        <div class="col-6">

        </div>
    </div>

    <h1>Mon ordinateur</h1>
    <h3>Vous êtes dans : <%= directoryPath %></h3>
    <form class="form-inline">
        <div class="form-group mb-2">
            <label for="search" class="sr-only">Recherche manuel:</label>
            <input type="text" readonly class="form-control-plaintext" id="search" value="Recherche manuel:">
        </div>
        <div class="form-group mx-sm-3 mb-2">
            <label for="searchValue" class="sr-only">Nom du répertoire</label>
            <input type="password" class="form-control" id="searchValue" placeholder="C:\">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Lancer la recherche</button>
    </form>
    <% if (files || directories) { %>
        <div class="row">
            <form action="/" method="post" class="col mb-1">
                <input type="hidden" name="directoryPath" value="<%= directoryPath %>">
                <input type="hidden" name="directory" value="..">
                <button type="submit" class="btn">
                    <div class="card" style="width: 8rem;">
                        <img src="/images/icon-folder.png" class="card-img-top">
                        <div class="card-body">
                            <p class="card-title">Retour</p>
                        </div>
                    </div>
                </button>
            </form>
            <% directories.forEach(function (directory) { %>
                <form action="/" method="post" class="col mb-1">
                    <input type="hidden" name="directoryPath" value="<%= directoryPath %>">
                    <input type="hidden" name="directory" value="<%= directory %>">
                    <button type="submit" class="btn">
                        <div class="card" style="width: 8rem;">
                            <img src="/images/icon-folder.png" class="card-img-top">
                            <div class="card-body">
                                <p class="card-title"><%= directory %></p>
                            </div>
                        </div>
                    </button>
                </form>
            <% }) %>
        </div>
        <div class="row">
            <% files.forEach(function (file) { %>
                <form action="/view" method="post" class="col mb-1">
                    <input type="hidden" name="directoryPath" value="<%= directoryPath %>">
                    <input type="hidden" name="directory" value="<%= file %>">
                    <button type="submit" class="btn">
                        <div class="card" style="width: 8rem;">
                            <img src="/images/icon-file.png" class="card-img-top">
                            <div class="card-body">
                                <p class="card-title"><%= file %></p>
                            </div>
                        </div>
                    </button>
                </form>
            <% }) %>
        </div>
    <% } else { %>
        <p>Répertoire vide ou inaccessible en lecture.<br><%= error %></p>
    <% } %>
</div>
<% include footer %>

